.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  
  .cursoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cursoNombre {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  